@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.intro {
    background-color: $mainColor;
    display: flex;
    height: 140%;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
    h2 {
        color: white;
    }
    h1 {
        color: white;
        font-weight: 400;
        font-size: 20px;
    }
    h3 {
        color: white;
    }
    .left {
        flex: 0.5;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-left: 10vmin;
        .imgContainer {
            overflow: hidden;
            height: 750px;
            // width: 700px;
            width: 800px;
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content:flex-end;
            transition: all 1s ease-in-out;
            @include mobile {
                height: 500px;
                left: -23vmin;
                bottom: -60vmax;
                margin: 0;
            }
            
            img{
                left: 120px;
                height:90%;
                position: absolute;
                // transition: bottom 1s ease, left 1s ease;
                transition: all 1s ease;
                @include mobile {
                    left: 10px;
                    height: 97%;
                }
            }
            
            &:hover{
                .bg{
                    left: 10%;
                    transition: all 1s ease;
                    @include mobile {
                        left: -2.5rem;
                        transform: scale(0.8);
                        transition: all 1s ease;
                    }
                }
                .myphoto{
                    left: 20%;
                    @include mobile {
                        transform: scale(0.9);
                        left: 50px;
                    }
                }
            }          
            
            @include mobile {
                align-items: flex-start;
                margin-left: 100px;
            }

        }
    }
    
    .right {
        flex: 0.5;
        position: relative;
        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;

            .btnContainers{
                display: flex;
                // justify-content: flex-start;
                flex-direction: row;
                position: relative;
                .btn2{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
                .btn2drive{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    #previewSVG{
                        padding-left: 1vmin;

                        @include mobile{
                            height: 4.5vmin;
                        }
                    }
                }
            }
            
            @include mobile {
                padding-left: 0px;
                align-items: center;
            }

            h1 {
                font-size: 3.5vmin;
                margin: 10px 0px;
                padding: 10px;
                font-family: "Roboto Mono", monospace;

                @include mobile {
                    font-size: 26px;
                    margin: 3px 27px;
                    padding: 6px;
                    overflow: hidden;
                    margin-bottom: 1vmax;
                }
            }
            h2 {
                font-family: "Roboto Mono", monospace;
                font-size: 3vmin;
                font-weight: 18;
                margin-right: 10vmin;
                padding: 10px;
                @include mobile {
                    font-size: 18px;
                    margin-right: 0px;
                    padding: 15px;
                    padding-top: 0px;
                    text-align: justify;
                }
            }
            h3 {
                font-size: 4vmin;
                padding: 10px;
                font-family: "Roboto Mono", monospace;

                @include mobile {
                    font-size: 25px;
                }
                span {
                    font-size: inherit;
                    color: rgb(98, 0, 211);
                }
                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a {
            position: absolute;
            bottom: 10px;

            img {
                width: 60px;
                animation: arrowBlink 3s infinite;
                position: relative;
                top: 5vmin;
                margin-bottom: 60px;
                -webkit-filter: invert(100%);
                filter: invert(100%);
                @include mobile {
                    display: none;
                }
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
#driveBtn{
    display: flex;
    align-items: center;
    @include mobile{
        font-size: 4vmin;
        padding: 8px 1rem;
    }
}
 .intro .right .wrapper h2 {
    @include mobile{
        font-size: 3.5vmin;
    }
}

@media screen and (max-width: 768px) {
  .pdfContainer {
    display: none !important;
  }
  .intro .left  {
    display: none !important;
  }
}